{% extends 'base.html' %}
{% block content %}
<h1>Lou Reed About Page</h1>
<p>Lewis Allan Reed was an American musician, singer, songwriter, and poet. He was the guitarist, singer, and principal songwriter for the rock band the Velvet Underground and had a solo career that spanned five decades. The Velvet Underground was not a commercial success during its existence, but became regarded as one of the most influential bands in the history of underground and alternative rock music. Reed's distinctive deadpan voice, poetic and transgressive lyrics, and experimental guitar playing were trademarks throughout his long career.</p>
<img src="https://i.guim.co.uk/img/static/sys-images/Guardian/Pix/pictures/2013/10/28/1382966972704/Lou-Reed-performing-in-19-009.jpg?width=465&quality=45&auto=format&fit=max&dpr=2&s=39752090a07fdf369a02d4b15696c9a7">



{% endblock %}

